export ADMINS_ID='["999678965"]'
export TELEGRAM_BOT_TOKEN=7851523065:AAEOt7DfMenfpctnT42Es34HYXS4vCcRGlo
export TELEGRAM_WEBHOOK_SECRET="348jf9834SJNFJfksdfj2fsdfkn9843fdj20fc942k"
export WEBHOOK_HOST=https://bot.tgsup2025.xyz
export DB_HOST=db-mysql-ams3-65575-do-user-18851847-0.l.db.ondigitalocean.com
export DB_USER=telegram_manual_bot_db_user
export DB_PASSWORD=AVNS_l6ba3QYxlNOBjV2QFKz
export DB_PORT=25060
export DB_NAME=telegram_manual_bot_db
export LOCAL_BOT_API="http://127.0.0.1:8081"
export TIME_ZONE="Europe/Kiev"
export DEBUG=False
export ALLOWED_HOSTS='["admin.tgsup2025.xyz", "127.0.0.1", "localhost"]'
export DJANGO_PORT=8000
export DJANGO_SECRET_KEY="gn75i4n9gf3j4fjtrildksaf23423hrsdfksdjfl"
export LOGGER_LEVEL=INFO
export EXCHANGE_API_KEY="AD_84D27FEA2C8C1BEABBBD5E5E2C1932A74C16FBF8"
export EXCHANGE_SECRET_KEY="afadea701befc5c2e531cb3f3a5a67f34dc4f41b"
